li{
display:inline;
margin-right:20px;
margin-left:90px;
}
h4{
  margin-right:10px:

}

h4.main{
        color:blue;

}
h4.main{
        color:blue;

}
h4.main{
        color:blue;

}
h4.main{
        color:blue;

}
h4.main{
        color:blue;
}
.zee{
    color:black;
background-color:pink;
          height:400px;
}
.ops{
text-align:center;
}
.mm{
display:inline;
margin-left:450px;
margin-right:200px
}
